* , body , html{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("http://trx-effects.ancorathemes.com/wp-content/uploads/2021/04/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}
.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 10vh;
    position: sticky;
    top: 0;
    transition: background-color 0.3s ease , border-bottom 0.2s ease;
    z-index: 110;
}

.navBar.scrolled {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}
.navBarLogo{
    flex: 1;
}
.navBarLogo img {
    height: 30px;
}
.navBarLinksContainer{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBarLinks {
    margin: 0 15px;
    padding: 0 0 0.5em;
    margin: 0 0.95em;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    color: #07050F;
    font-size: 1.063rem;
    line-height: 1.2em;
    letter-spacing: -0.01em;
    position: relative;
    /* text-decoration: none; */
}

.navBarLinks::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navBarLinks:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.navBarBuyNowContainer{
    flex: 1;
    display: flex;
    justify-content: end;
}

.navbarBuyNow {
    margin-right: 30px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    width: 50%;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 1s ease , color 0.6s ease ;
}
.navbarBuyNow:hover{
    color: #ffffff;
    background-color: #000000;
}
.navBarHamburgerIcon {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.navBarSmallScreen {
    background-color: #fff;
    position: absolute;
    top: 60px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 100;
}

.navBarSmallScreenContent {
    display: flex;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.navBarSmallLinks {
    margin: 10px 0;
    cursor: pointer;
}
.navBarHamburgerIcon {
    display: none;
}

@media (max-width: 768px) {
    .navBarLinks {
        display: none;
    }
    .navbarBuyNow{
        display: none;
    }
    .navBarHamburgerIcon {
        display: none;
        z-index: 1000;
        position: fixed;
        right: 10%;
    }
}
